body {
  background: url('/assets/img/bg-mobile.svg') no-repeat;
  @media screen and (min-width: 990px) { 
  background: url('/assets/img/bg.svg') no-repeat;

  }
  background-size: contain !important;
  //background-position-y: -100px;
  .slick-track {
    
  }
}

section.wizard-wrapper {}

.header {
  .title{
    font-size: 24px;
  }

  height: 45px;
  //background: #5593f3;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  .right {
    margin-left: auto;

    .current-question {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
    }

    .total-questions {
      color: #A8C5E1;
      @media screen and (min-width: 990px){
        color: #fff;
        font-weight: 400;
      }
    }
  }
}

.wizard {
  .slide{
  padding: 10px;
  display: flex !important;
  flex-flow: column;
  // margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  //width: 100%;
  @media screen and (min-width: 990px) {
    flex-flow: row;
    //width: 700px !important;
  }

  .image {
    width: 50%;
    max-height: 200px;
    height: 200px;
    background: url('https://via.placeholder.com/350x200') no-repeat top left;

   background-size: 100% 100%;
    @media screen and (min-width: 990px) {
      max-height: 100%;
      height: auto;
    }
  }

  .question-wrapper {
    @media screen and (min-width: 990px) {
      padding: 20px
    }

    .question {
      padding: 10px 0;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }

  .inputGroup {
    button {
      width: 100%;
      border: none;
      height: 40px;
      background: #f6f7f7;
      color: #000;
      font-size: 18px;
      margin-bottom: 5px;
      text-align: left;
      border-radius: 5px;
      &.btn-blue {
        background: #bacff2;
        color: #0a3782;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }

  .cta-wrapper {
    margin-top: 10px;

    button {
      background: none;
      font-size: 14px;
      width: 100%;
      border: none;
      color: #9B9B9B;
      margin-bottom: 10px;
      border-radius: 5px;
      &.selected {
        background: #0A3782;
        color: #fff;
        height: 50px;
      }
    }
  }
  }
}
